In [1]:
import os

import numpy as np
import pandas as pd

from sklearn.cross_validation import train_test_split

In [2]:
input_folder = os.path.join("../","datasets","kaggle_sets")
output_folder = os.path.join("../","datasets","initial_data_split")
data_all = pd.read_csv(os.path.join(input_folder,"train.csv"))

In [6]:
data_all.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day_index
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132,9.992559
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454,5.476608
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000,5.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000,10.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000,15.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000,19.000000

In [4]:
data_all["datetime"] =  pd.to_datetime(data_all["datetime"], format="%Y-%m-%d %H:%M:%S")
data_all["day_index"] = data_all["datetime"].apply(lambda x: x.day)

train = data_all[data_all["day_index"] < 14]
valid = data_all[(data_all["day_index"] >= 13) & (data_all["day_index"] < 16)]
test = data_all[data_all["day_index"] >= 16]

print valid.head(5)

train = train.drop(["day_index"], axis=1)
valid = valid.drop(["day_index"], axis=1)
test = test.drop(["day_index"], axis=1)

print test.head(5)

               datetime  season  holiday  workingday  weather  temp  atemp  \
277 2011-01-13 00:00:00       1        0           1        1  5.74   6.06
278 2011-01-13 01:00:00       1        0           1        1  5.74   6.06
279 2011-01-13 02:00:00       1        0           1        1  5.74   6.06
280 2011-01-13 03:00:00       1        0           1        1  5.74   6.06
281 2011-01-13 04:00:00       1        0           1        1  5.74   6.06

     humidity  windspeed  casual  registered  count  day_index
277        59    19.0012       1           6      7         13
278        50    19.0012       0           2      2         13
279        50    23.9994       0           2      2         13
280        50    22.0028       0           3      3         13
281        50    16.9979       0           4      4         13
               datetime  season  holiday  workingday  weather   temp   atemp  \
348 2011-01-16 00:00:00       1        0           0        1  10.66  15.150
349 2011-01-16 01:00:00       1        0           0        1  10.66  13.635
350 2011-01-16 02:00:00       1        0           0        1  10.66  14.395
351 2011-01-16 03:00:00       1        0           0        1   9.02  13.635
352 2011-01-16 04:00:00       1        0           0        1  10.66  12.880

     humidity  windspeed  casual  registered  count
348        56     0.0000       6          33     39
349        56     8.9981       4          19     23
350        56     6.0032       3          13     16
351        69     0.0000       9           6     15
352        56    11.0014       0           1      1

In [5]:
print data_all.shape, train.shape, valid.shape, test.shape

train.to_csv(os.path.join(output_folder,"train.csv"),index=False)
valid.to_csv(os.path.join(output_folder,"valid.csv"),index=False)
test.to_csv(os.path.join(output_folder,"test.csv"), index=False)

(10886, 13) (7452, 12) (1722, 12) (2286, 12)